/*TODO: Fuente Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*? Variables */
:root {
    /** Colores generales */
    --azul: #8A9FA6;
    --celeste: #D9EAEA;
    --blanco: #dadada;
    --gris: #575757;
    --gris-oscuro: #1f1f1f;
    --negro: #000000;

    /**Redes sociales*/
    --whatsapp: #30D24E;
    --facebook: #0866FF;
    --linkedin: #0A66C2;
    --instagram: #EB4668;

    /** Color Botones */
    --fondo-transparente: #cccccc17;
}

/*? Estilos generales*/
/*All*/
* {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

/*Titulos*/
.titulo {
    text-transform: uppercase;
    color: var(--blanco);
}

/*Textos*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blanco);
}

/* Estilos para párrafos */
p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 16px;
}

/*Contenedor de imagen*/
.container-planeta {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Imagen flotante*/
.planeta {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    width: 80%;
    animation: floatAnimation 3s infinite;
}

/*Textos azules*/
.azul {
    color: var(--azul);
}

/*TODO Botones*/
.btn-up {
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 15px;
    position: fixed;
    bottom: -100px;
    right: 0;
    z-index: 1000;
    margin: 20px;
    border: 1px solid var(--blanco);
    cursor: pointer;
    transition: bottom 0.3s ease;

    .bi-arrow-up {
        margin-right: 0px;
        color: var(--blanco);
    }
}

/*TODO Botones de accion*/
.btn-cta {
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    border: 1px solid var(--blanco);
    color: var(--blanco);

    &:hover {
        background-color: var(--blanco);
        color: var(--negro);

        .bi {
            color: var(--negro) !important;
        }
    }

    &:active {
        background-color: var(--azul);
        border: 1px solid var(--blanco);

        .bi {
            color: var(--blanco);
        }
    }
}

.btn-whatsapp {
    border: 1px solid var(--whatsapp) !important;
    color: var(--whatsapp);

    .icono-whatsapp-header {
        color: var(--whatsapp);
    }

    &:hover {
        border: 1px solid var(--whatsapp) !important;
        background-color: var(--whatsapp);

        .icono-whatsapp-header {
            color: var(--blanco);
        }
    }

    &:active {
        border: 1px solid var(--whatsapp) !important;
        background-color: var(--whatsapp) !important;
    }
}

.btn-facebook{
    border: 1px solid var(--facebook) !important;
    color: var(--facebook);

    .icono-whatsapp-header {
        color: var(--facebook);
    }

    &:hover {
        border: 1px solid var(--facebook) !important;
        background-color: var(--facebook);

        .icono-whatsapp-header {
            color: var(--blanco);
        }
    }

    &:active {
        border: 1px solid var(--facebook) !important;
        background-color: var(--facebook) !important;
    }
}

.btn-linkedin{
    border: 1px solid var(--linkedin) !important;
    color: var(--linkedin);

    .icono-whatsapp-header {
        color: var(--linkedin);
    }

    &:hover {
        border: 1px solid var(--linkedin) !important;
        background-color: var(--linkedin);

        .icono-whatsapp-header {
            color: var(--blanco);
        }
    }

    &:active {
        border: 1px solid var(--linkedin) !important;
        background-color: var(--linkedin) !important;
    }
}

.btn-instagram{
    border: 1px solid var(--instagram) !important;
    color: var(--instagram);

    .icono-whatsapp-header {
        color: var(--instagram);
    }

    &:hover {
        border: 1px solid var(--instagram) !important;
        background-color: var(--instagram);

        .icono-whatsapp-header {
            color: var(--blanco);
        }
    }

    &:active {
        border: 1px solid var(--instagram) !important;
        background-color: var(--instagram) !important;
    }
}

/*TODO Enlaces*/
.navbar-nav .active {
    background-color: var(--azul);
}

/*TODO Iconos*/
/*Normales*/
.bi {
    margin-right: 5px;
}

/*Normales*/
.bip {
    margin-right: 0px;
}

/*TODO Cards*/
.card {
    background-color: transparent;
}

.glass-card {
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    border-radius: 5px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.glass-card-tec {
    background-color: rgba(255, 255, 255, 0.243);
    /* Color de fondo con transparencia */
    backdrop-filter: blur(10px);
    /* Aplica un efecto de desenfoque al fondo */
    border-radius: 10px;
    /* Redondea las esquinas de la card */
    margin: 10px;

    border: 1px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card-title {
    font-weight: bold;
}

/*TODO Carrusel*/
.item-carrusel {
    background-color: transparent;
}

/*? -------------------------------------------*/

/*TODO Body*/
body {
    background-color: var(--negro);
}

/*TODO Header*/
#header {
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;

    .navbar {
        .container-header {
            .navbar-toggler {
                color: transparent !important;
                outline: none;
                border: none;

                &:focus {
                    outline: none;
                    border: none;
                }

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .nav-item {
                        .nav-link {
                            color: var(--blanco);

                            &:hover {
                                color: var(--azul);
                            }

                            &:active {
                                color: var(--azul);
                            }

                            &:focus {
                                color: var(--azul);
                            }
                        }
                    }

                    .icons-nav {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row !important;

                        .nav-link {
                            .bi {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            #navbarNav {
                padding-left: 10px;
            }
        }
    }
}

/*TODO Hero*/
#hero {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .video-container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        /* Estilos para el video */
        #video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .container-hero {

            .row-hero {
                .container-texto-hero {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--fondo-transparente);
                    backdrop-filter: blur(5px);
                    padding: 20px;
                    border-radius: 5px;
                    z-index: 10;

                    .nombre {

                        font-size: 3rem;
                        font-weight: bolder;

                        .apellido {
                            color: var(--blanco);
                        }
                    }

                    .puesto {
                        font-weight: bold;
                    }

                    .servicios {
                        text-transform: uppercase;
                    }

                }

                .container-planeta {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .planeta {
                        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
                        width: 80%;
                        animation: floatAnimation 3s infinite;
                    }
                }
            }
        }
    }
}

.video-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* Altura del difuminado, ajusta según sea necesario */
    background: linear-gradient(to top, rgb(1, 1, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 10;
}

/**Cards one*/
#cards-one {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/imgs/fondos/fondo-cards.png);
    background-size: cover;
    background-position: center;
}

/*TODO Sobre*/
#sobre {
    min-height: 100vh;
    background-image: url(/imgs/fondos/3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container-sobre {
        .row-sobre {
            .contenedor-texto-sobre {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}

.frontend {
    color: #61DAFB;
    font-weight: bold;
}

/* Color para Frontend */
.html {
    color: #E34F26;
    font-weight: bold;
}

/* Color para HTML */
.css {
    color: #267fe4;
    font-weight: bold;
}

/* Color para CSS */
.javascript {
    color: #F7DF1E;
    font-weight: bold;
}

/* Color para JavaScript */
.experiencias {
    color: #FF69B4;
    font-weight: bold;
}

/* Color para Experiencias */

/**Cards two*/
#cards-two {
    background-color: var(--negro);
}

/*TODO Habilidades*/
#habilidades {
    min-height: 50vh;

    background-image: url(/imgs/fondo-habilidades.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilos para las barras de progreso tipo glass */
.glass-progress {
    background-color: var(--fondo-transparente);
    border-radius: 0px !important;
}

/*Barra de progreso*/
.progress-bar {
    background-color: rgba(145, 145, 145, 0.322);
    border: 1px solid var(--blanco);
}

.titulo-html,
.titulo-css,
.titulo-js,
.titulo-sql,
.titulo-laravel,
.titulo-bootstrap {
    font-weight: bold;
}

/*TODO Servicios*/
#servicios {
    min-height: 100vh;
    background-image: url(/imgs/fondos/4.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*TODO Proyectos*/
#proyectos {
    min-height: 100vh;
    background-image: url(/imgs/fondos/1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilo para los botones de las pestañas */
.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    margin: 0 10px;
    background-color: var(--gris);
    /* Cambia el color de fondo según tus preferencias */
    color: var(--blanco);
    /* Cambia el color del texto según tus preferencias */
    font-weight: bold;
    border-radius: 5px;
}

/* Estilo para el botón activo */
.nav-tabs .nav-link.active {
    background-color: var(--azul);
    /* Cambia el color de fondo cuando está activo */
    color: var(--blanco);
    /* Cambia el color del texto cuando está activo */
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 20px;
}

.proyecto {
    position: relative;
    overflow: hidden;
    border: none;
    height: 200px;
    /* Puedes ajustar los bordes según tus necesidades */
}

.contenedor-badges {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-html {
    background-color: #E34F26;
}

.bg-css {
    background-color: #267fe4;
}

.bg-js {
    background-color: #F7DF1E;
}

.bg-bootstrap {
    background-color: #9a3cf3;
}

.titulo-proyecto {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* Ajusta los valores según tus preferencias */
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    /* Transición para el efecto de zoom */
}

.card:hover .card-bg img {
    transform: scale(1.1);
    /* Efecto de zoom al hacer hover */
}

.card-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    transition: height 0.3s ease-in-out;
    /* Transición para la animación del fondo negro */
}

.card:hover .card-bg::after {
    height: 0%;
    /* Al hacer hover, el fondo negro se expande hacia arriba */
}

.card:hover .titulo-proyecto {
    color: var(--azul-medio);
    opacity: 0;
}

.card-body {
    z-index: 1;
    /* Coloca el contenido por encima de la imagen de fondo */
    position: relative;
    color: white;
    /* Ajusta el color del texto según tus necesidades */
}

/*TODO Testimonios*/
#testimonios {
    min-height: 100vh;
    background-image: url(/imgs/fondos/2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*TODO Contacto*/
input {
    color: #fff !important;
}

#contacto {
    min-height: 100vh;
    background-image: url(/imgs/fondos/4.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilos para los inputs con efecto glass */
.glass {
    background-color: var(--fondo-transparente);
    color: var(--blanco) !important;
    border-radius: 5px;
    border: none;
}

.form-control:focus {
    border-color: rgb(163, 163, 163);
    /* Cambia el color del contorno al hacer clic */
    box-shadow: 0 0 0 0.25rem rgba(150, 150, 150, 0.466);
    /* Cambia la sombra al hacer clic */
}

.glass:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    /* Cambio de color al enfocar */
}

/* Estilos para los placeholders */
.glass::placeholder {
    color: rgba(255, 255, 255, 0.7);
    /* Color del placeholder */
}

/* Estilos para los placeholders al enfocar */
.glass:focus::placeholder {
    color: rgba(255, 255, 255, 0.9);
    /* Cambio de color del placeholder al enfocar */
}

/*TODO News*/
#news {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-news {
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 5px;
}

/* Estilos glass para el botón */
.glass-button {
    background: rgba(255, 255, 255, 0.2);
    /* Fondo transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    border: none;
    /* Sin bordes */
    border-radius: 8px;
    /* Bordes redondeados */
    color: #ffffff;
    /* Color del texto */
    padding: 10px 15px;
    /* Espaciado interno */
    cursor: pointer;

    /* Cursor al pasar sobre el botón */
    &:hover {
        background-color: #e7e7e7ce;
        color: var(--blanco);
    }

    &:active {
        background-color: #000000ce !important;
        color: var(--blanco) !important;
    }
}

/* Estilo para el ícono dentro del botón */
.glass-button i {
    margin-right: 5px;
    /* Espaciado a la derecha del ícono */
}

/*TODO Footer*/
#footer {
    min-height: 80vh;
    background-color: var(--gris-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Enlaces de footer*/
.footer-a {
    font-size: 1.1rem;
    text-decoration: none;
    transition: all ease-in-out 300ms;
    color: var(--azul);

    &:hover {
        font-size: 1.2rem;
        color: var(--azul);
    }
}

/*Iconos personalizados*/
.bix {
    font-size: 2rem;
    color: var(--azul);
}

.bixe {
    color: var(--azul);
}

/*TODO Media Querys*/

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .nombre {
        font-size: 2rem !important;
    }

    .planeta {
        margin-top: 50px;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .nombre {
        font-size: 3rem !important;
    }

    .planeta {
        margin-top: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .planeta {
        margin-top: 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*TODO: Animaciones*/
@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/*TODO Spinner*/
/* Estilos para la pantalla de carga */
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--negro);
    /* Fondo semi-transparente rojo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Capa superior para que esté por encima de otros elementos */
    transition: opacity 0.5s;
    /* Transición suave de la opacidad */
    opacity: 1;
    /* Opacidad inicial */
}

/* Estilos para el spinner de carga */
.loader {
    border: 8px solid #f3f3f3;
    /* Círculo exterior gris claro */
    border-top: 8px solid var(--azul);
    /* Círculo superior azul */
    border-radius: 50%;
    /* Borde redondeado para crear un círculo */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Animación de rotación */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Rotación inicial */
    }

    100% {
        transform: rotate(360deg);
        /* Rotación completa */
    }
}

/* Ocultar la pantalla de carga después de que la página haya cargado */
body:not(.loaded) .loader-wrapper {
    opacity: 1;
}

/* Mostrar el contenido de la página después de cargar completamente */
body.loaded .loader-wrapper {
    opacity: 0;
    pointer-events: none;
    /* Permitir interacción con elementos debajo de la pantalla de carga */
}

/* Contenido de la página */
#content {
    display: none;
    /* Inicialmente oculto */
}

body.loaded #content {
    display: block;
}