:root {
    --azul: #00328f;
    --azul-medio: #0b48ba;
    --azul-claro: #3fc3dd;
    --blanco: #ffffff;
}

/* Estilos generales */
* {
    color: var(--blanco);
}

.btn-cta {
    border-radius: 20px;
    background-color: var(--azul-claro);
    color: var(--blanco);

    &:hover {
        background-color: var(--azul-medio);
        color: var(--blanco);
    }

    &:active {
        background-color: var(--azul-claro);
        border: 1px solid #fff;
    }
}

/*  Estilos del body  */
/*--------------------*/
body {
    background-color: var(--azul);
}

/* Estilos del Header */
/*--------------------*/

#header {
    background-color: var(--azul);
    position: sticky;
    top: 0;
}

#header {
    transition: transform 0.3s ease-in-out;
}

#header.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.nav-link {
    color: var(--blanco);

    &:hover {
        color: var(--azul-claro);
    }

    &:active {
        color: var(--azul-claro);
    }

    &:focus {
        color: var(--azul-claro);
    }
}

.custom-toggler .navbar-toggler-icon {
    color: white !important;
}

.navbar-toggler {
    color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbarNav {
    padding-left: 10px;
}

/* Estilos del Hero */
/*------------------*/

#hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-hero {
        .row-hero {}
    }
}

.container-texto-hero {
    display: flex;
    align-items: center;
    justify-content: center;

    .nombre {
        font-size: 3rem;
        color: var(--blanco);

        .apellido {
            color: var(--azul-claro);
        }
    }

}

.container-planeta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.planeta {
    width: 50%;
    border-radius: 50%;
}


/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra */
}

/* Estilo del indicador (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #00328f;
    /* Color azul */
    border-radius: 5px;
    /* Borde redondeado */
    border: 2px solid #00328f;
    /* Borde */
}

/* Estilo del indicador de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 50, 143, 0.8);
    /* Color azul con opacidad */
}

/* Estilo del indicador de desplazamiento al hacer clic */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 50, 143, 0.6);
    /* Color azul con opacidad */
}

/* Estilo del indicador de desplazamiento cuando está inactivo */
::-webkit-scrollbar-thumb:inactive {
    background-color: rgba(0, 50, 143, 0.4);
    /* Color azul con opacidad */
}



/** Media Querys*/

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .nombre {
        font-size: 2rem !important;
    }

    .planeta {
        margin-top: 50px;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .nombre {
        font-size: 3rem !important;
    }

    .planeta {
        margin-top: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .planeta {
        margin-top: 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}