/*TODO: Fuente Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*TODO: Variables */
:root {
    /** Colores generales */
    --azul: #2036B3;
    --azul-medio: #7991ff;
    --azul-claro: #5271FF;
    --azul-oscuro: #10092B;
    --blanco: #ffffff;
    --negro: #000000;
    --negro-claro: #252525;

    /** Color Botones */
    --fondo-transparente: #cccccc17;
}

/*TODO Estilos generales*/
* {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

p,
.vx,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blanco);
}

/* Estilos para párrafos */
p {
    font-size: 16px;
    /* Tamaño de fuente base */
    line-height: 2;

    color: #c7c7c7;
    /* Color de texto principal, ajusta según tu diseño */
    margin-bottom: 16px;
    /* Espaciado inferior entre párrafos */
}

.planeta {
    animation: floatAnimation 3s infinite;
}

html {
    scroll-behavior: smooth !important;
}

.azul {
    color: var(--azul-claro);
}

/*TODO Botones*/
.btn-up {
    background-color: var(--fondo-transparente);
    border-radius: 5px;
    padding: 10px 15px;
    position: fixed;
    bottom: -100px;
    right: 0;
    z-index: 1000;
    margin: 20px;
    border: 1px solid var(--blanco);
    cursor: pointer;
    transition: bottom 0.3s ease;

    .bi-arrow-up {
        margin-right: 0px;
        color: var(--blanco);
    }
}

.btn-cta {
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    border: 1px solid var(--blanco);
    color: var(--blanco);

    &:hover {
        background-color: var(--blanco);
        color: var(--negro);

        .bi {
            color: var(--negro) !important;
        }
    }

    &:active {
        background-color: var(--azul-claro);
        border: 1px solid var(--blanco);

        .bi {
            color: var(--blanco);
        }
    }
}

/*TODO Enlaces*/
.navbar-nav .active {
    background-color: var(--azul-claro);
}

.footer-a {
    font-size: 1.1rem;
    text-decoration: none;
    transition: all ease-in-out 300ms;

    &:hover {
        font-size: 1.2rem;
        color: var(--azul-claro);
    }
}

/*TODO Iconos*/
.bi {
    margin-right: 5px;
}

.bix {
    font-size: 2rem;

}

/*TODO Titulos*/
#titulo {
    min-height: 10vh;
    background-color: var(--negro);

    .titulo {
        color: var(--azul-claro);
    }

    .subtitulo {
        color: var(--blanco);
    }
}

/*TODO Cards*/
.card {
    background-color: transparent;
}

.glass-card {
    background-color: var(--fondo-transparente);
    /* Color de fondo con transparencia */
    backdrop-filter: blur(10px);
    /* Aplica un efecto de desenfoque al fondo */
    border-radius: 10px;
    /* Redondea las esquinas de la card */
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.glass-card-tec {
    background-color: rgba(255, 255, 255, 0.243);
    /* Color de fondo con transparencia */
    backdrop-filter: blur(10px);
    /* Aplica un efecto de desenfoque al fondo */
    border-radius: 10px;
    /* Redondea las esquinas de la card */
    margin: 10px;

    border: 1px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card-title {
    font-weight: bold;
}

/*TODO Carrusel*/
.item-carrusel {
    background-color: transparent;
}

/*? -------------------------------------------*/

/**Body*/
body {
    background-color: var(--negro);
    overflow-x: hidden;
}

/**Header*/
#header {
    background-color: var(--negro-claro);
    backdrop-filter: blur(10px);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;

    .navbar {
        .container-header {
            .navbar-brand {}

            .navbar-toggler {
                color: transparent !important;
                outline: none;
                border: none;

                &:focus {
                    outline: none;
                    border: none;
                }

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .nav-item {
                        .nav-link {
                            color: var(--blanco);

                            &:hover {
                                color: var(--azul-claro);
                            }

                            &:active {
                                color: var(--azul-claro);
                            }

                            &:focus {
                                color: var(--azul-claro);
                            }
                        }
                    }

                    .icons-nav {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row !important;

                        .nav-link {
                            .bi {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            #navbarNav {
                padding-left: 10px;
            }
        }
    }
}

/**Hero*/
#hero {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .video-container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        /* Estilos para el video */
        #video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .container-hero {

            .row-hero {
                .container-texto-hero {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--fondo-transparente);
                    backdrop-filter: blur(5px);
                    padding: 20px;
                    border-radius: 5px;
                    z-index: 10;

                    .nombre {
                        color: var(--blanco);
                        font-size: 3rem;
                        font-weight: bolder;
                        color: var(--blanco);

                        .apellido {
                            color: var(--azul-medio);
                        }
                    }

                }

                .container-planeta {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .planeta {
                        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
                        width: 80%;
                        animation: floatAnimation 3s infinite;
                    }
                }
            }
        }
    }
}

.video-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* Altura del difuminado, ajusta según sea necesario */
    background: linear-gradient(to top, rgb(1, 1, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 10;
}

/**Cards one*/
#cards-one {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/imgs/fondos/fondo-cards.png);
    background-size: cover;
    background-position: center;
}

/**Sobre*/
#sobre {
    min-height: 100vh;
    background-image: url(/imgs/fondos/3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container-sobre {
        .row-sobre {
            .contenedor-texto-sobre {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}

/**Cards two*/
#cards-two {
    background-color: var(--negro);
}

/**Habilidades*/
#habilidades {
    min-height: 50vh;
    
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container-progres {
        .row-progres {
            .columna-uno {

                /* Estilos para la barra de progreso HTML5 */
                .html-progress {
                    background-color: #e34c26;
                    /* Color característico de HTML5 */
                }

                /* Estilos para la barra de progreso CSS3 */
                .css-progress {
                    background-color: #2965f1;
                    /* Color característico de CSS3 */
                }

                /* Estilos para la barra de progreso JavaScript */
                .js-progress {
                    background-color: #f7df1e;
                    /* Color característico de JavaScript */
                }
            }

            .columna-dos {

                /* Estilos para la barra de progreso Laravel */
                .laravel-progress {
                    background-color: #ff2d20;
                    /* Color característico de Laravel */
                }

                /* Estilos para la barra de progreso Vue.js */
                .bootstrap {
                    background-color: #9641b8;
                    /* Color característico de Vue.js */
                }

                /* Estilos para la barra de progreso SQL */
                .sql-progress {
                    background-color: #336791;
                    /* Color característico de SQL */
                }
            }
        }
    }
}

/**Servicios*/
#servicios {
    min-height: 90vh;
    background-image: url(/imgs/fondos/4.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**Proyectos*/
#proyectos {
    min-height: 90vh;
    background-image: url(/imgs/fondos/1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proyecto {
    position: relative;
    overflow: hidden;
    border: none;
    height: 200px;
    /* Puedes ajustar los bordes según tus necesidades */
}

.titulo-proyecto {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* Ajusta los valores según tus preferencias */
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    /* Transición para el efecto de zoom */
}

.card:hover .card-bg img {
    transform: scale(1.1);
    /* Efecto de zoom al hacer hover */
}

.card-bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    transition: height 0.3s ease-in-out;
    /* Transición para la animación del fondo negro */
}

.card:hover .card-bg::after {
    height: 0%;
    /* Al hacer hover, el fondo negro se expande hacia arriba */
}

.card:hover .titulo-proyecto {
    color: var(--azul-medio);
    opacity: 0;
}

.card-body {
    z-index: 1;
    /* Coloca el contenido por encima de la imagen de fondo */
    position: relative;
    color: white;
    /* Ajusta el color del texto según tus necesidades */
}

/**Testimonios*/
#testimonios {
    min-height: 90vh;
    background-image: url(/imgs/fondos/2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**Blog*/
#blog {
    min-height: 90vh;
    background-image: url(/imgs/fondos/3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**Contacto*/
input {
    color: #fff !important;
}

#contacto {
    min-height: 90vh;
    background-image: url(/imgs/fondos/4.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para los inputs con efecto glass */
.glass {
    border: 1px solid #fff;
    /* Línea inferior */
    background-color: rgba(255, 255, 255, 0.2);
    /* Fondo con transparencia */
    color: white;
    /* Color del texto */
}

.glass:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    /* Cambio de color al enfocar */
}

/* Estilos para los placeholders */
.glass::placeholder {
    color: rgba(255, 255, 255, 0.7);
    /* Color del placeholder */
}

/* Estilos para los placeholders al enfocar */
.glass:focus::placeholder {
    color: rgba(255, 255, 255, 0.9);
    /* Cambio de color del placeholder al enfocar */
}

/**News*/
#news {
    min-height: 30vh;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-news {
    border: 1px solid var(--blanco);
    background-color: var(--fondo-transparente);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 5px;
}

/* Estilos glass para el botón */
.glass-button {
    background: rgba(255, 255, 255, 0.2);
    /* Fondo transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    border: none;
    /* Sin bordes */
    border-radius: 8px;
    /* Bordes redondeados */
    color: #ffffff;
    /* Color del texto */
    padding: 10px 15px;
    /* Espaciado interno */
    cursor: pointer;

    /* Cursor al pasar sobre el botón */
    &:hover {
        background-color: #e7e7e7ce;
        color: var(--blanco);
    }

    &:active {
        background-color: #000000ce !important;
        color: var(--blanco) !important;
    }
}

/* Estilo para el ícono dentro del botón */
.glass-button i {
    margin-right: 5px;
    /* Espaciado a la derecha del ícono */
}

/**Footer*/
#footer {
    min-height: 80vh;
    background-color: var(--negro-claro);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*TODO Media Querys*/

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .nombre {
        font-size: 2rem !important;
    }

    .planeta {
        margin-top: 50px;
    }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .nombre {
        font-size: 3rem !important;
    }

    .planeta {
        margin-top: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .planeta {
        margin-top: 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*TODO: Animaciones*/
@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}