<!--TODO Cards -->
<section class="container-fluid pt-5 pb-5" id="cards-one">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Primera card -->
      <div class="col-lg-4">
        <div class="card text-center glass-card mb-3" id="card1">
          <div class="card-body">
            <!-- Icono -->
            <i class="bi icono-card bi-speedometer2" style="font-size: 3rem;"
            ></i>
            <!-- Título -->
            <h5 class="card-title mt-3">Rápido y Eficiente</h5>
            <!-- Párrafo -->
            <p class="card-text">
              Desarrollo sitios web rápidos y eficientes, optimizados para un
              rendimiento excepcional.
            </p>
          </div>
        </div>
      </div>

      <!-- Segunda card -->
      <div class="col-lg-4">
        <div class="card text-center glass-card mb-3" id="card2">
          <div class="card-body">
            <!-- Icono -->
            <i class="bi icono-card bi-palette" style="font-size: 3rem;"></i>
            <!-- Título -->
            <h5 class="card-title mt-3">Diseños Creativos</h5>
            <!-- Párrafo -->
            <p class="card-text">
              Creación de diseños atractivos y modernos que destacan por su
              creatividad y originalidad.
            </p>
          </div>
        </div>
      </div>

      <!-- Tercera card -->
      <div class="col-lg-4">
        <div class="card text-center glass-card mb-3" id="card3">
          <div class="card-body">
            <!-- Icono -->
            <i class="bi icono-card bi-code-slash" style="font-size: 3rem;"></i>
            <!-- Título -->
            <h5 class="card-title mt-3">Código Limpio</h5>
            <!-- Párrafo -->
            <p class="card-text">
              Escritura de código limpio, bien estructurado y fácil de mantener
              para una mejor escalabilidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TODO Estilos -->
<style>
  /**Cards one*/
  #cards-one {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/imgs/fondos/fondo-cards.png);
    background-size: cover;
    background-position: center;
  }
</style>