<section class="container-fluid pt-5 pb-5" id="contacto">
    <div class="container text-center pb-5">
        <div class="row">
            <div class="col text-center">
                <h6 class="azul">Título de Ejemplo</h6>
                <h2 class="subtitulo">Subtítulo de Ejemplo</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-column align-items-start mb-4">
                    <div class="contact-item d-flex align-items-center mb-3 rounded p-3">
                        <div class="icon-circle text-light">
                            <i class="bi bip bi-envelope-fill"></i>
                        </div>
                        <div>
                            <h5 class="text-primary">Email</h5>
                            <p class="mb-0">ejemplo@correo.com</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex align-items-center mb-3 rounded p-3">
                        <div class="icon-circle text-light">
                            <i class="bi bip bi-telephone-fill"></i>
                        </div>
                        <div>
                            <h5 class="text-success">Teléfono</h5>
                            <p class="mb-0">+123 456 7890</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex align-items-center rounded p-3">
                        <div class="icon-circle text-light">
                            <i class="bi bip bi-geo-alt-fill"></i>
                        </div>
                        <div>
                            <h5 class="text-warning">Dirección</h5>
                            <p class="mb-0">Dirección de Ejemplo, Ciudad, País</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control glass mb-2" id="nombre" placeholder="Nombre" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control glass mb-2" id="apellido" placeholder="Apellido" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="tel" class="form-control glass mb-2" id="telefono" placeholder="Teléfono" />
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="email" class="form-control glass mb-2" id="correo" placeholder="Correo electrónico" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control glass" id="mensaje" rows="4" placeholder="Escribe aquí tu mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    #contacto {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .glass {
        background-color: var(--fondo-transparente);
        color: var(--blanco) !important;
        border-radius: 5px;
        border: 1px solid #383838 !important;
    }

    .form-control:focus {
        border-color: rgb(163, 163, 163);
        box-shadow: 0 0 0 0.25rem rgba(150, 150, 150, 0.466);
    }

    .glass:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .glass::placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    .glass:focus::placeholder {
        color: rgba(255, 255, 255, 0.9);
    }
</style>
