<!--TODO Footer -->
<section class="container-fluid pt-5 pb-5" id="footer">
    <div class="container">
        <div class="row">
            <!-- Primera columna con imagen, párrafo y redes sociales -->
            <div class="col-md-3 mt-3 mb-3">
                <img
                    width="200"
                    class="mb-5"
                    src="/imgs/logo-footer.png"
                    alt="Logo"
                />
                <p class="">
                    Transformo tu ideas en Sitios Web: La Innovación Conecta con
                    tu presencia online.
                </p>
                <div class="social-icons">
                    <a class="m-1" href="#"
                        ><i class="bi bix bi-facebook"></i></a
                    >
                    <a class="m-1" href="#"><i class="bi bix bi-github"></i></a>
                    <a class="m-1" href="#"
                        ><i class="bi bix bi-instagram"></i></a
                    >
                    <a class="m-1" href="#"
                        ><i class="bi bix bi-linkedin"></i></a
                    >
                </div>
            </div>

            <!-- Segunda columna con título de Servicios y enlaces -->
            <div class="col-md-3 mt-3 mb-3">
                <h3 class="mb-4">Servicios</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a class="footer-a" href="#">Pagina Web</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#">Aplicacion Web</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#">Diseño Web</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#">Asesoria Web</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#">Consultoria</a>
                    </li>
                </ul>
            </div>

            <!-- Tercera columna con título de Enlaces Rápidos y enlaces -->
            <div class="col-md-3 mt-3 mb-3">
                <h3 class="mb-4">Enlaces Rápidos</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a class="footer-a" href="#sobre">Acerca</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#servicios">Servicios</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#proyectos">Portafolio</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#blog">Blog</a>
                    </li>
                    <li class="mb-3">
                        <a class="footer-a" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>

            <!-- Cuarta columna con título de Contacto y enlaces -->
            <div class="col-md-3 mt-5 mb-5">
                <h3 class="mb-4">Contacto</h3>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <i class="bi bixe bi-telephone"></i>
                        <a class="footer-a" href="tel:+123456789"
                            >+52 2211251774</a
                        >
                    </li>
                    <li class="mb-3">
                        <i class="bi bixe bi-envelope"></i>
                        <a class="footer-a" href="mailto:info@example.com"
                            >alex.ing.rz@gmail.com</a
                        >
                    </li>
                    <li class="mb-3">
                        <i class="bi bixe bi-geo-alt"></i>
                        <a class="footer-a" href="#">México, Puebla, #72620</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--TODO Estilos -->
<style>
    /*TODO Footer*/
    #footer {
        min-height: 80vh;
        background-color: var(--gris-oscuro);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /** Enlaces de footer*/
    .footer-a {
        font-size: 1.1rem;
        text-decoration: none;
        transition: all ease-in-out 300ms;
        color: var(--azul);

        &:hover {
            font-size: 1.2rem;
            color: var(--azul);
        }
    }
</style>
