<!--TODO Habilidades -->
<div class="container-fluid pt-5 pb-5" id="habilidades">
    <div class="container text-center pb-5">
        <h6 class="azul">Habilidades</h6>
        <h2 class="subtitulo">Trabajo duro en mejorar mis habilidades</h2>
    </div>
    <div class="container container-progres">
        <div class="row row-progres">
            <!-- Barras de progreso a la izquierda -->
            <div class="col-md-6 columna-uno">
                <!-- Primera barra de progreso -->
                <div class="mt-3">
                    <p class="titulo-html">HTML5</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar html-progress"
                            role="progressbar"
                            style="width: 80%;"
                            aria-valuenow="80"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </div>
                <!-- Segunda barra de progreso -->
                <div class="mt-3">
                    <p class="titulo-css">CSS3</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar css-progress"
                            role="progressbar"
                            style="width: 70%;"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </div>
                <!-- Tercera barra de progreso -->
                <div class="mt-3">
                    <p class="titulo-js">JavaScript</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar js-progress"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </div>
            </div>
            <!-- Barras de progreso a la derecha -->
            <div class="col-md-6 columna-dos">
                <!-- Primera barra de progreso -->
                <div class="mt-3">
                    <p class="titulo-laravel">Laravel</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar laravel-progress"
                            role="progressbar"
                            style="width: 75%;"
                            aria-valuenow="75"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </div>
                <!-- Segunda barra de progreso -->
                <div class="mt-3">
                    <p class="titulo-bootstrap">Bootstrap 5</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar bootstrap-progress"
                            role="progressbar"
                            style="width: 85%;"
                            aria-valuenow="85"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </div>
                <!-- Tercera barra de progreso -->
                <div class="mt-3">
                    <p class="titulo-sql">SQL</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar sql-progress"
                            role="progressbar"
                            style="width: 60%;"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO Estilos -->
<style>
    /*TODO Habilidades*/
    #habilidades {
        min-height: 50vh;

        background-image: url(/imgs/fondo-habilidades.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Estilos para las barras de progreso tipo glass */
    .glass-progress {
        background-color: var(--fondo-transparente);
        border-radius: 0px !important;
    }

    /*Barra de progreso*/
    .progress-bar {
        background-color: rgba(145, 145, 145, 0.322);
        border: 1px solid var(--blanco);
    }

    .titulo-html,
    .titulo-css,
    .titulo-js,
    .titulo-sql,
    .titulo-laravel,
    .titulo-bootstrap {
        font-weight: bold;
    }
</style>
