<div class="container-fluid pt-5 pb-5" id="habilidades">
    <div class="container text-center pb-5">
        <h6 class="azul">Título de Ejemplo</h6>
        <h2 class="subtitulo">Subtítulo de Ejemplo</h2>
    </div>
    <div class="container container-progres">
        <div class="row row-progres">
            <div class="col-md-6 columna-uno">
                <div class="mt-3">
                    <p class="titulo-html">Habilidad 1</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar html-progress"
                            role="progressbar"
                            style="width: 80%;"
                            aria-valuenow="80"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="titulo-css">Habilidad 2</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar css-progress"
                            role="progressbar"
                            style="width: 70%;"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="titulo-js">Habilidad 3</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar js-progress"
                            role="progressbar"
                            style="width: 90%;"
                            aria-valuenow="90"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="titulo-js">Habilidad 4</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar js-progress"
                            role="progressbar"
                            style="width: 50%;"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 columna-dos">
                <div class="mt-3">
                    <p class="titulo-laravel">Habilidad 5</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar laravel-progress"
                            role="progressbar"
                            style="width: 75%;"
                            aria-valuenow="75"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="titulo-bootstrap">Habilidad 6</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar bootstrap-progress"
                            role="progressbar"
                            style="width: 85%;"
                            aria-valuenow="85"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="titulo-sql">Habilidad 7</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar sql-progress"
                            role="progressbar"
                            style="width: 60%;"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="titulo-js">Habilidad 8</p>
                    <div class="progress glass-progress">
                        <div
                            class="progress-bar js-progress"
                            role="progressbar"
                            style="width: 70%;"
                            aria-valuenow="70"
                            aria-valuemin="0"
                            aria-valuemax="100"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #habilidades {
        min-height: 50vh;
        background-image: url(/imgs/fondo-habilidades.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .glass-progress {
        background-color: var(--fondo-transparente);
        border-radius: 0px !important;
    }

    .progress-bar {
        background-color: rgba(145, 145, 145, 0.322);
        border: 1px solid var(--blanco);
    }

    .titulo-html,
    .titulo-css,
    .titulo-js,
    .titulo-sql,
    .titulo-laravel,
    .titulo-bootstrap {
        font-weight: bold;
    }
</style>
