<!-- Header -->
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div
            class="container container-header d-flex justify-content-between align-items-center"
        >
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img width="50" src="/imgs/logo.png" alt="Logo" />
            </a>

            <!-- Botón de hamburguesa para pantallas pequeñas -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú de navegación sin íconos centrado -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#hero">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyectos">Portafolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>

            <!-- Botones de redes sociales a la derecha, ocultos en pantallas pequeñas -->
            <div class="d-none d-lg-flex">
                <button class="btn btn-outline-secondary btn-facebook me-2"
                    ><i class="bi bip bi-facebook"></i></button
                >
                <button class="btn btn-outline-secondary btn-linkedin me-2"
                    ><i class="bi bip bi-linkedin"></i></button
                >
                <button class="btn btn-outline-secondary btn-instagram"
                    ><i class="bi bip bi-instagram"></i></button
                >
            </div>
        </div>
    </nav>
</header>
