<section class="container-fluid p-0 m-0" id="hero">
    <div class="video-container pt-5 mt-4">
        <video autoplay muted loop id="video-background">
            <source src="/imgs/fondo-estrellas.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>

        <div class="container container-hero">
            <div class="row row-hero p-3">
                <div class="col-lg-6 container-texto-hero" id="hero-card">
                    <div>
                        <h2 class="nombre">
                            PRIMER NOMBRE <br /> APELLIDOS
                        </h2>
                        <p class="puesto">Profesion</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime placeat atque, autem, corrupti a magni iusto itaque expedita ex vitae maiores dolorum? Corporis deleniti quisquam quidem sit modi veniam.
                        </p>
                        <h5 class="mb-3 texto-servicios">Contacto</h5>
                        <div class="d-flex align-items-center">
                            <a
                                target="_blank"
                                href=""
                                class="btn btn-outline-success btn-whatsapp me-3"
                            >
                                <i class="bi bi-whatsapp"></i> Contactar
                            </a>
                            <a
                                href="#proyectos"
                                class="btn btn-outline-warning"
                            >
                                <i class="bi bi-card-text"></i> Ver Portfolio
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 container-planeta">
                    <img
                        class="planeta"
                        src="/imgs/ilustraciones/1.png"
                        alt="Descripción de la imagen"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #hero {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-hero {
        .row-hero {
            .container-texto-hero {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--fondo-transparente);
                backdrop-filter: blur(5px);
                padding: 20px;
                border-radius: 5px;
                z-index: 10;
            }

            .nombre {
                font-size: 3rem;
                font-weight: bolder;
                color: var(--blanco) !important;
            }

            .puesto {
                font-weight: bold;
            }

            .texto-servicios {
                text-transform: uppercase;
                color: var(--blanco);
            }

            .container-planeta {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .planeta {
                filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
                width: 80%;
                animation: floatAnimation 3s infinite;
            }
        }
    }

    .video-container::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to top, rgb(1, 1, 1), rgba(0, 0, 0, 0));
        pointer-events: none;
        z-index: 10;
    }

    .btn-whatsapp {
        border: 1px solid var(--whatsapp) !important;
        color: var(--whatsapp) !important;
    }

    .btn-whatsapp:hover .bi-whatsapp {
        color: var(--blanco) !important;
    }

    .btn-whatsapp:hover {
        border: 1px solid var(--whatsapp) !important;
        background-color: var(--whatsapp) !important;
        color: var(--blanco) !important;
    }

    .btn-whatsapp:active {
        border: 1px solid var(--whatsapp) !important;
        background-color: var(--whatsapp) !important;
    }

    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }
</style>
