<!--TODO Proyectos -->
<div class="container-fluid pt-5 pb-5" id="proyectos">
    <div class="container text-center pb-5">
        <div class="row">
            <div class="col text-center">
                <h6 class="azul">Proyectos</h6>
                <h2 class="subtitulo">Que puedo hacer por mis clientes</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Tabs -->
                <ul
                    class="nav nav-tabs justify-content-center"
                    id="myTab"
                    role="tablist"
                >
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link active"
                            id="tab1-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#tab1"
                            type="button"
                            role="tab"
                            aria-controls="tab1"
                            aria-selected="true">ALL</button
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link"
                            id="tab2-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#tab2"
                            type="button"
                            role="tab"
                            aria-controls="tab2"
                            aria-selected="false">CARD</button
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link"
                            id="tab3-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#tab3"
                            type="button"
                            role="tab"
                            aria-controls="tab3"
                            aria-selected="false">PÁGINA WEB</button
                        >
                    </li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content" id="myTabContent">
                    <!-- Tab 1 -->
                    <div
                        class="tab-pane fade show active"
                        id="tab1"
                        role="tabpanel"
                        aria-labelledby="tab1-tab"
                    >
                        <div class="row">
                            <!-- Cards Proyectos -->

                            <!-- Rick y Morty -->
                            <a
                                href="https://cards-rickandmorty.netlify.app/"
                                class="col-md-4"
                            >
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/rickandmorty.png"
                                        class="card-img-top"
                                        alt="Cartas de Rick y Morty"
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Cartas de Rick y Morty
                                        </h5>
                                        <p class="card-text">
                                            Una divertida web de cartas
                                            temáticas de Rick y Morty.
                                            Desarrollada utilizando HTML, CSS y
                                            JavaScript. ¡Explora el universo de
                                            Rick y Morty de una manera única con
                                            esta web!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Encriptador -->
                            <a
                                href="https://encriptador-desafio-alura.netlify.app/"
                                class="col-md-4"
                            >
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/encriptador.png"
                                        class="card-img-top"
                                        alt="Encriptador"
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">Encriptador</h5>
                                        <p class="card-text">
                                            Una aplicación de encriptación
                                            desarrollada como desafío en Alura.
                                            Utiliza algoritmos de encriptación
                                            modernos para proteger la
                                            información. ¡Descubre cómo tus
                                            datos están seguros!
                                        </p>
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Pagina Web MarketUP -->
                            <a
                                href="https://market-up.netlify.app/"
                                class="col-md-4"
                            >
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/marketup.png"
                                        class="card-img-top"
                                        alt="Pagina Web MarketUP"
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Pagina Web MarketUP
                                        </h5>
                                        <p class="card-text">
                                            Un proyecto de desarrollo web para
                                            MarketUP. Diseñado para facilitar la
                                            gestión de negocios mediante una
                                            interfaz amigable y funcional.
                                            ¡Descubre cómo optimizar tu empresa!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Pagina Web Chef Guadalupe Ramirez -->
                            <a
                                href="https://guadalupe-ramirez.netlify.app/"
                                class="col-md-4"
                            >
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/chef.png"
                                        class="card-img-top"
                                        alt="Pagina Web Guadalupe Ramirez"
                                    />
                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            Pagina Web Guadalupe Ramirez
                                        </h5>
                                        <p class="card-text">
                                            Un sitio web personalizado para la
                                            chef Guadalupe Ramirez. Muestra sus
                                            recetas, habilidades culinarias y
                                            experiencias. ¡Sumérgete en el mundo
                                            gastronómico de Guadalupe!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Pagina Web Productos belleza -->
                            <a
                                href="https://paginadeproductos.netlify.app/"
                                class="col-md-4"
                            >
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/productos.png"
                                        class="card-img-top"
                                        alt="Pagina Web de productos de belleza"
                                    />
                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            Pagina Web de productos de belleza
                                        </h5>
                                        <p class="card-text">
                                            Un catálogo online de productos de
                                            belleza. Explora las últimas
                                            tendencias y descubre productos de
                                            alta calidad. ¡Encuentra tu rutina
                                            de belleza perfecta!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <!-- Número secreto: Alura Latam -->
                            <a
                                href="https://numero-secreto-axxving.netlify.app/"
                                class="col-md-4"
                            >
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/numero-secreto.png"
                                        class="card-img-top"
                                        alt="Número secreto: Alura Latam"
                                    />
                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            Número secreto: Alura Latam
                                        </h5>
                                        <p class="card-text">
                                            Un juego interactivo desarrollado
                                            como parte del desafío de Alura
                                            Latam. Pon a prueba tu habilidad
                                            para adivinar el número secreto.
                                            ¡Ponte a prueba y demuestra que eres
                                            el mejor!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- Tab 2 -->
                    <div
                        class="tab-pane fade"
                        id="tab2"
                        role="tabpanel"
                        aria-labelledby="tab2-tab"
                    >
                        <div class="row"></div>
                    </div>

                    <!-- Tab 3 -->
                    <div
                        class="tab-pane fade"
                        id="tab3"
                        role="tabpanel"
                        aria-labelledby="tab3-tab"
                    >
                        <div class="row">
                            <!-- Cards arriba -->

                            <!-- Pagina Web MarketUP -->
                            <div class="col-md-4">
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/marketup.png"
                                        class="card-img-top"
                                        alt="Pagina Web MarketUP"
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Pagina Web MarketUP
                                        </h5>
                                        <p class="card-text">
                                            Un proyecto de desarrollo web para
                                            MarketUP. Diseñado para facilitar la
                                            gestión de negocios mediante una
                                            interfaz amigable y funcional.
                                            ¡Descubre cómo optimizar tu empresa!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pagina Web Chef Guadalupe Ramirez -->
                            <div class="col-md-4">
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/chef.png"
                                        class="card-img-top"
                                        alt="Pagina Web Guadalupe Ramirez"
                                    />
                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            Pagina Web Guadalupe Ramirez
                                        </h5>
                                        <p class="card-text">
                                            Un sitio web personalizado para la
                                            chef Guadalupe Ramirez. Muestra sus
                                            recetas, habilidades culinarias y
                                            experiencias. ¡Sumérgete en el mundo
                                            gastronómico de Guadalupe!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pagina Web Productos belleza -->
                            <div class="col-md-4">
                                <div class="card glass-card text-center">
                                    <img
                                        src="/imgs/proyectos/productos.png"
                                        class="card-img-top"
                                        alt="Pagina Web de productos de belleza"
                                    />
                                    <div class="card-body text-center">
                                        <h5 class="card-title">
                                            Pagina Web de productos de belleza
                                        </h5>
                                        <p class="card-text">
                                            Un catálogo online de productos de
                                            belleza. Explora las últimas
                                            tendencias y descubre productos de
                                            alta calidad. ¡Encuentra tu rutina
                                            de belleza perfecta!
                                        </p>
                                        <!-- Etiquetas de tecnología con colores e iconos -->
                                        <div class="mt-3 contenedor-badges">
                                            <span
                                                class="badge bg-html text-light"
                                                ><i class="bx bxl-html5"></i> HTML</span
                                            >
                                            <span
                                                class="badge bg-css text-light"
                                                ><i class="bx bxl-css3"></i> CSS</span
                                            >
                                            <span class="badge bg-js text-dark"
                                                ><i class="bx bxl-javascript"
                                                ></i> JavaScript</span
                                            >
                                            <span
                                                class="badge bg-bootstrap text-light"
                                                ><i class="bi bi-bootstrap"></i>
                                                Bootstrap</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO Estilos -->
<style>
    /*TODO Proyectos*/
    #proyectos {
        min-height: 100vh;
        background-image: url(/imgs/fondos/1.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Estilo para los botones de las pestañas */
    .nav-tabs .nav-link {
        border: none;
        border-radius: 0;
        margin: 0 10px;
        background-color: var(--gris);
        /* Cambia el color de fondo según tus preferencias */
        color: var(--blanco);
        /* Cambia el color del texto según tus preferencias */
        font-weight: bold;
        border-radius: 5px;
    }

    /* Estilo para el botón activo */
    .nav-tabs .nav-link.active {
        background-color: var(--azul);
        /* Cambia el color de fondo cuando está activo */
        color: var(--blanco);
        /* Cambia el color del texto cuando está activo */
    }

    .nav-tabs {
        border-bottom: none;
        margin-bottom: 20px;
    }

    .proyecto {
        position: relative;
        overflow: hidden;
        border: none;
        height: 200px;
        /* Puedes ajustar los bordes según tus necesidades */
    }

    .contenedor-badges {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .badge {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg-html {
        background-color: #e34f26;
    }

    .bg-css {
        background-color: #267fe4;
    }

    .bg-js {
        background-color: #f7df1e;
    }

    .bg-bootstrap {
        background-color: #9a3cf3;
    }

    .titulo-proyecto {
        font-size: 2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        /* Ajusta los valores según tus preferencias */
    }

    .card-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .card-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        /* Transición para el efecto de zoom */
    }

    .card:hover .card-bg img {
        transform: scale(1.1);
        /* Efecto de zoom al hacer hover */
    }

    .card-bg::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.726);
        transition: height 0.3s ease-in-out;
        /* Transición para la animación del fondo negro */
    }

    .card:hover .card-bg::after {
        height: 0%;
        /* Al hacer hover, el fondo negro se expande hacia arriba */
    }

    .card:hover .titulo-proyecto {
        color: var(--azul-medio);
        opacity: 0;
    }

    .card-body {
        z-index: 1;
        /* Coloca el contenido por encima de la imagen de fondo */
        position: relative;
        color: white;
        /* Ajusta el color del texto según tus necesidades */
    }
</style>
