<!--TODO Servicios -->
<div class="container-fluid pt-5 pb-5" id="servicios">
    <div class="container text-center pb-5">
        <div class="row">
            <div class="col text-center">
                <h6 class="azul">DESCUBRE MIS SERVICIOS</h6>
                <h2 class="subtitulo">
                    EXPERIENCIAS EXCEPCIONALES PARA MIS CLIENTES
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <!-- Cards superiores -->
            <div class="col-md-4">
                <div class="card text-center mb-4 glass-card">
                    <div class="card-body">
                        <i class="bi bi-laptop fs-1 mb-3"></i>
                        <h5 class="card-title">Desarrollo Web</h5>
                        <p class="card-text">
                            Creación de sitios web modernos y atractivos
                            utilizando las últimas tecnologías frontend.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4 glass-card">
                    <div class="card-body">
                        <i class="bi bi-code-slash fs-1 mb-3"></i>
                        <h5 class="card-title">Codificación</h5>
                        <p class="card-text">
                            Codificación limpia y eficiente siguiendo las
                            mejores prácticas y estándares de la industria.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4 glass-card">
                    <div class="card-body">
                        <i class="bi bi-lightbulb fs-1 mb-3"></i>
                        <h5 class="card-title">Creatividad</h5>
                        <p class="card-text">
                            Diseños innovadores y personalizados para destacar
                            la identidad de tu marca en la web.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Cards inferiores -->
            <div class="col-md-4">
                <div class="card text-center mb-4 glass-card">
                    <div class="card-body">
                        <i class="bi bi-pen fs-1 mb-3"></i>
                        <h5 class="card-title">Diseño UI/UX</h5>
                        <p class="card-text">
                            Creación de interfaces de usuario intuitivas y
                            agradables para mejorar la experiencia del usuario.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4 glass-card">
                    <div class="card-body">
                        <i class="bi bi-chat-dots fs-1 mb-3"></i>
                        <h5 class="card-title">Comunicación</h5>
                        <p class="card-text">
                            Comunicación efectiva y constante para entender y
                            cumplir con los requisitos del proyecto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-4 glass-card">
                    <div class="card-body">
                        <i class="bi bi-briefcase fs-1 mb-3"></i>
                        <h5 class="card-title">Profesionalismo</h5>
                        <p class="card-text">
                            Servicio profesional y comprometido para entregar
                            proyectos de alta calidad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO Estilos -->
<style>
    /*TODO Servicios*/
    #servicios {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
