<div class="container-fluid pt-5 pb-5" id="sobre">
    <div class="col text-center pb-3">
        <h6 class="azul">Ejemplo Título</h6>
        <h2 class="subtitulo">Ejemplo Subtítulo</h2>
    </div>

    <div class="container container-sobre">
        <div class="row row-sobre">
            <div class="col-md-6 container-planeta mb-5">
                <img
                    width="400"
                    src="/imgs/ilustraciones/5.png"
                    alt="Imagen de ejemplo"
                    class="planeta"
                />
            </div>
            <div class="col-md-6 mt-3 mb-3 contenedor-texto-sobre">
                <h2 class="pb-3 titulo">Descubre más sobre el Proyecto</h2>

                <p>
                    Este es un <span class="frontend">proyecto de ejemplo</span> diseñado
                    para mostrar cómo se pueden crear experiencias web cautivadoras y funcionales. El enfoque
                    principal es la implementación de diseños atractivos y accesibles que mejoren la usabilidad y la interactividad del
                    usuario. Con tecnologías como <span class="html">HTML</span>, <span class="css">CSS</span>
                    y <span class="javascript">JavaScript</span>, este proyecto transforma conceptos creativos en interfaces visuales
                    dinámicas y receptivas. ¡Siempre buscando innovar y explorar nuevas tecnologías para llevar las <span class="experiencias">experiencias</span>
                    digitales al siguiente nivel!
                </p>
                <button class="btn btn-outline-success mt-3">
                    <i class="bi bi-download me-2"></i> Descargar Ejemplo
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    #sobre {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container-sobre .row-sobre .contenedor-texto-sobre {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .subtitulo {
        color: var(--blanco) !important;
    }

    .frontend {
        color: #61dafb;
        font-weight: bold;
    }

    .html {
        color: #e34f26;
        font-weight: bold;
    }

    .css {
        color: #267fe4;
        font-weight: bold;
    }

    .javascript {
        color: #f7df1e;
        font-weight: bold;
    }

    .experiencias {
        color: #ff69b4;
        font-weight: bold;
    }
</style>

<script>
  import VanillaTilt from "vanilla-tilt";

  if (!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    VanillaTilt.init(document.querySelector(".container-planeta img"), {
      max: 10,
      speed: 400,
      glare: true,
      "max-glare": 0.3,
    });
  }
</script>
