<!--TODO Sobre -->
<div class="container-fluid pt-5 pb-5" id="sobre">
    <div class="col text-center pb-3">
        <h6 class="azul">Explorando mi Trayectoria</h6>
        <h2 class="subtitulo">Apasionado por Transformar Ideas en Código</h2>
    </div>

    <div class="container container-sobre">
        <div class="row row-sobre">
            <div class="col-md-6 container-planeta mb-5">
                <img
                    width="400"
                    src="/imgs/ilustraciones/5.png"
                    alt="Imagen"
                    class="planeta"
                />
            </div>
            <div class="col-md-6 mt-3 mb-3 contenedor-texto-sobre">
                <h2 class="pb-3 titulo">Descubre mobre Mí</h2>

                <p>
                    Soy un desarrollador <span class="frontend">Frontend</span> apasionado
                    por crear experiencias web cautivadoras y funcionales. Mi enfoque
                    principal radica en la implementación de diseños atractivos y
                    accesibles que mejoren la usabilidad y la interactividad del
                    usuario. Con experiencia en <span class="html">HTML</span>, <span
                        class="css">CSS</span
                    >
                    y <span class="javascript">JavaScript</span>, disfruto
                    transformando conceptos creativos en interfaces visuales
                    dinámicas y receptivas. ¡Siempre buscando aprender y
                    explorar nuevas tecnologías para llevar las <span
                        class="experiencias">experiencias</span
                    > digitales al siguiente nivel!
                </p>
                <button class="btn btn-outline-success mt-3">
                    <i class="bi bi-download me-2"></i> Descargar CV
                </button>
            </div>
        </div>
    </div>
</div>

<!--TODO Estilos -->
<style>
    /*TODO Sobre*/
    #sobre {
        min-height: 100vh;
        background-image: url(/imgs/fondos/3.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .container-sobre {
            .row-sobre {
                .contenedor-texto-sobre {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
    }

    .subtitulo {
        color: var(--blanco) !important;
    }

    .frontend {
        color: #61dafb;
        font-weight: bold;
    }

    /* Color para Frontend */
    .html {
        color: #e34f26;
        font-weight: bold;
    }

    /* Color para HTML */
    .css {
        color: #267fe4;
        font-weight: bold;
    }

    /* Color para CSS */
    .javascript {
        color: #f7df1e;
        font-weight: bold;
    }

    /* Color para JavaScript */
    .experiencias {
        color: #ff69b4;
        font-weight: bold;
    }
</style>
