<!-- Spinner-->
<div class="loader-wrapper">
  <div class="loader"></div>
</div>

<script>
  // Agrega la clase "loaded" al body cuando la página haya cargado completamente
  window.addEventListener("load", function () {
    document.body.classList.add("loaded");
  });
</script>
