<div class="container-fluid pt-5 pb-5" id="cards-two">
    <div class="container">
        <div class="swiper miSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-html5 bx-lg mb-3"></i>
                            <h5 class="card-title">HTML5</h5>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-css3 bx-lg mb-3"></i>
                            <h5 class="card-title">CSS3</h5>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-javascript bx-lg mb-3"></i>
                            <h5 class="card-title">JavaScript</h5>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-bootstrap bx-lg mb-3"></i>
                            <h5 class="card-title">Bootstrap</h5>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-jquery bx-lg mb-3"></i>
                            <h5 class="card-title">jQuery</h5>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-sass bx-lg mb-3"></i>
                            <h5 class="card-title">Sass</h5>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="bx icono-card bxl-github bx-lg mb-3"></i>
                            <h5 class="card-title">GitHub</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #cards-two {
        background-color: var(--negro);
    }
</style>

<script>
    import Swiper from "swiper";

    document.addEventListener("DOMContentLoaded", function () {
        const miSwiper = new Swiper(".miSwiper", {
            slidesPerView: "auto",
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                576: {
                    slidesPerView: 1.5,
                },
                768: {
                    slidesPerView: 2.5,
                },
                992: {
                    slidesPerView: 3.5,
                },
            },
        });
    });
</script>
