<!-- cards two slider -->
<div class="container-fluid pt-5 pb-5" id="cards-two">
    <div class="container">
        <div class="swiper miSwiper">
            <div class="swiper-wrapper">
                <!--tarjeta 1-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-html5 bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">HTML5</h5>
                        </div>
                    </div>
                </div>

                <!--tarjeta 2-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-css3 bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">CSS3</h5>
                        </div>
                    </div>
                </div>

                <!--tarjeta 3-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-javascript bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">JavaScript</h5>
                        </div>
                    </div>
                </div>

                <!--tarjeta 4-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-bootstrap bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">Bootstrap</h5>
                        </div>
                    </div>
                </div>

                <!--tarjeta 5-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-jquery bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">jQuery</h5>
                        </div>
                    </div>
                </div>

                <!--tarjeta 6-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-sass bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">Sass</h5>
                        </div>
                    </div>
                </div>

                <!--tarjeta 7-->
                <div class="swiper-slide">
                    <div class="card glass-card text-center">
                        <div
                            class="card-body d-flex flex-column align-items-center"
                        >
                            <!-- Icono -->
                            <i class="bx bxl-github bx-lg mb-3"></i>
                            <!-- Título -->
                            <h5 class="card-title">GitHub</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
