<!--TODO Testimonios -->
<section class="container-fluid pt-5 pb-5" id="testimonios">
    <div class="container text-center pb-5">
        <div class="row">
            <div class="col text-center">
                <h6 class="azul">Testimonios</h6>
                <h2 class="subtitulo">Que dicen mis clientes sobre mi</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div
            id="carouselExample"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card border-0 shadow item-carrusel">
                                <div class="card-body text-center">
                                    <i
                                        class="bi bi-chat-quote-fill fs-3 text-primary mb-3"
                                    ></i>
                                    <p class="card-text">
                                        ¡Excelente trabajo! Me ayudaron a crear
                                        un sitio web impresionante para mi
                                        negocio. ¡Altamente recomendado!
                                    </p>
                                    <img
                                        src="imgs/Clientes/1.png"
                                        class="rounded-circle mx-auto mb-3"
                                        alt="Cliente 1"
                                        width="80"
                                    />
                                    <h5 class="card-title mb-0">Juan</h5>
                                    <p class="card-text">Pérez</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card border-0 shadow item-carrusel">
                                <div class="card-body text-center">
                                    <i
                                        class="bi bi-chat-quote-fill fs-3 text-primary mb-3"
                                    ></i>
                                    <p class="card-text">
                                        Increíble atención al cliente y
                                        resultados impecables. ¡Gracias por tu
                                        trabajo!
                                    </p>
                                    <img
                                        src="imgs/Clientes/2.png"
                                        class="rounded-circle mx-auto mb-3"
                                        alt="Cliente 2"
                                        width="80"
                                    />
                                    <h5 class="card-title mb-0">María</h5>
                                    <p class="card-text">Gómez</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card border-0 shadow item-carrusel">
                                <div class="card-body text-center">
                                    <i
                                        class="bi bi-chat-quote-fill fs-3 text-primary mb-3"
                                    ></i>
                                    <p class="card-text">
                                        ¡Muy profesional y talentoso! Hicieron
                                        realidad mi visión y estoy encantado con
                                        el resultado final.
                                    </p>
                                    <img
                                        src="imgs/Clientes/3.png"
                                        class="rounded-circle mx-auto mb-3"
                                        alt="Cliente 3"
                                        width="80"
                                    />
                                    <h5 class="card-title mb-0">Carlos</h5>
                                    <p class="card-text">Rodríguez</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<!--TODO Estilos -->
<style>
    /*TODO Testimonios*/
    #testimonios {
        min-height: 100vh;
        background-image: url(/imgs/fondos/2.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
